/* CSS file (e.g., App.css or Step5Regio.css) */
.logo-spinner {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-top: 20px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  