/* step-navigation.css */

.steps-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 65%;
}

.step-item {
  color: #6c757d; /* Grijze kleur voor inactieve stappen */
  font-size: 1rem;
}

.step-item.active {
  color: #ffffff; /* Witte kleur voor de actieve stap */
  font-weight: bold;
}

.step-separator {
  color: #6c757d; /* Grijze kleur voor de pijlen */
  font-size: 1rem;
}
@media (max-width: 576px) {
  .steps-nav {
    flex-direction: row; /* Plaats de stappen onder elkaar */
    flex-wrap: wrap;
    width: 100%; /* Vul de volledige breedte */
    gap: 0.25rem; /* Minder ruimte tussen items */
  }

  .step-item {
    font-size: 0.9rem; /* Maak stappen kleiner */
  }
}
